* {
	background-color: rgba(255,255,255,1);
	text-align: left;
	padding-left: 15px;
}

img {
	padding-left: 25em;
	vertical-align: top;
}

.title{
	padding-top: 50px;
	font-size: 1.3em;
	color: #4F12CB;
}

.menues {
	padding-top: 100px;
	line-height: 3em;
	font-size: 0.875em;
	float: left;
	display: inline;
}

.submenu {
	color: #5ED823;
}

.submenu:hover {
	color: black;
}

